<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Más de mí</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header">
        <nav class="header-menu">
            <a class="header-link" href="../index.html">Inicio</a>
            <a class="header-link" href="../views/hoja-de-vida.html"> Mi hoja de vida</a>
            <a class="header-link" href="../views/mis-proyectos.html">Mis proyectos</a>
        </nav>
    </header>
    <main class="presentacion">
        <section class="presentacion-section-class">
        <h1 class="presentacion-contenido-titulo">Mi curriculum en el área de tecnología.</h1>   
        <p class="presentacion-contenido-parrafo">Me gusta mucho el área de tecnología. He estudiado
            mucho en la carrerra de Desarrollo de Software en la Universidad Tecnológica de Panamá.
            Demás de tomar cursos como los de Alura Latam en el cual me estoy especializando en el area de
            Front-end, que me estan haciendo sentirme alguien con mucho más valor y orgulloso de lo que he
            alcanzado hasta lo que soy hoy en día. 

            Tambien cuento con experiencia alta en Excel, desarrollo documentos en Word, creo presentaciones
            en Canvas, Power Point... En fin, manejo diversas herrameintas de ofimatica.

            Deseo pronto tener la oportunidad de trabajar en una empresa que confie en mi potencial y
            darle el mayor de mis talentos.

            Saludos y a aquí estare al pendiente para cualquier pregunta.
        </p>
        <div class="presentacion-enlaces">
            <h2 class="subtitulo-presentacion-link">Parte de mis logros:</h2>
            <a class="presentacion-enlaces-link" href="https://app.aluracursos.com/user/manrp1761998/degree-programacion-primeros-pasos-15697/certificate">
                <img src="../img/aluraoracle.png" alt="aluraoracle" class="icono">Ver mi certificación de JS</a>
            <a class="presentacion-enlaces-link" href="https://app.aluracursos.com/user/manrp1761998/degree-programacion-primeros-pasos-grupo7-one-15788/certificate">
                <img src="../img/aluraoracle.png" alt="aluraoracle" class="icono">Ver mi certificacion en principiante en programación G7- ONE</a>
            <a class="presentacion-enlaces-link" href="https://app.aluracursos.com/user/manrp1761998/degree-desarrollo-personal-grupo7-one-15787/certificate">
                <img src="../img/aluraoracle.png" alt="aluraoracle" class="icono">Ver mi certificación de desarrollo personal G7 - ONE</a>
            </div>
            </section>
    </main>
    <footer class="footer">
        <p>
            <img src="../img/celular.png" alt="Celular" class="icono"> - Contacteme al +507 6328-4986  
            <img src="../img/correo.png" alt="Correo" class="icono"> - Correo: manrp1761998@gmail.com
          </p>          
    </footer>
</body>
</html>