<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header">
        <nav class="header-menu">
            <a class="header-link" href="../index.html">Inicio</a>
            <a class="header-link" href="../views/mi_perfil.html"> Mi hoja de vida</a>
            <a class="header-link" href="../views/proyectos.html">Mis proyectos</a>
        </nav>
    </header>
    <main class="presentacion">
       <p class="presentacion-contenido-parrafo"></p>
    </main>
    <footer class="footer">
        <p>Contacteme al +507 6328-4986</p>
    </footer>
</body>
</html>